n8n-workflows/Extractor de productos.json
{
  "name": "Extractor de productos",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Extractor de productos desde texto.",
        "formDescription": "Copia y pega tu texto en el campo de formulario para guardar nuevos productos en la base de datos.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Pega tu texto aquí.",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar Productos",
          "path": "ingresar-productos",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Información guardada exitosamente"
            }
          },
          "ignoreBots": true,
          "useWorkflowTimezone": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -192,
        208
      ],
      "id": "a2f076b2-c63c-401c-9912-5b16237f9a12",
      "name": "Al recibir documento",
      "webhookId": "842011e9-fdd9-4664-a78b-35437d15024b"
    },
    {
      "parameters": {
        "text": "={{ $json['Pega tu texto aquí.'] }}",
        "schemaType": "manual",
        "inputSchema": " {\n    \"type\": \"object\",  \n    \"properties\": {\n      \"productos\": {\n        \"type\": \"array\",\n        \"description\": \"Todos los productos encontrados en el texto\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"marca\": { \"type\": \"string\", \"description\": \"Marca del producto\" },\n            \"modelo\": { \"type\": \"string\", \"description\": \"Modelo o nombre del producto\" },\n            \"precio\": { \"type\": \"integer\", \"description\": \"Precio en CENTAVOS de su moneda original (12999 = 129.99). Multiplica por 100 si el texto da el precio en unidades.\" },\n            \"moneda_id\": { \"type\": \"integer\", \"description\": \"1=MXN (Pesos), 2=USD (Dólares), 3=EUR (Euros). Usa 1 si no se especifica.\" },\n            \"stock\": { \"type\": \"integer\", \"description\": \"Existencias. 0 si no se especifica.\" },\n            \"especificaciones\": { \"type\": \"object\", \"description\": \"Pares clave-valor con caracteristicas tecnicas, p. ej. { \\\"voltaje\\\": \\\"12V\\\" }. Objeto vacio si no hay.\" },\n            \"vehiculos\": {\n              \"type\": \"array\",\n              \"description\": \"Vehiculos compatibles\",\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"modelo\": { \"type\": \"string\" },\n                  \"marca\": { \"type\": \"string\" },\n                  \"anio\": { \"type\": \"integer\", \"description\": \"Si el texto no menciona el año del vehículo, omite ese vehículo del array. Solo incluye vehículos con año explícito y mayor a 1900.\" }\n                },\n                \"required\": [\"modelo\", \"marca\", \"anio\"]\n              }\n            },\n            \"categorias\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Categorias del producto\" },\n            \"ciudades\": {\n              \"type\": \"array\",\n              \"description\": \"Ciudades donde esta disponible, con su estado\",\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"ciudad\": { \"type\": \"string\", \"description\": \"Nombre de la ciudad, p. ej. Guadalajara\" },\n                  \"estado\": { \"type\": \"string\", \"description\": \"Estado al que pertenece la ciudad, p. ej. Jalisco\" }\n                },\n                \"required\": [\"ciudad\", \"estado\"]\n              }\n            }\n          },\n          \"required\": [\"marca\", \"modelo\", \"precio\"]\n        }\n      }\n    },\n    \"required\": [\"productos\"]\n  }",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        32,
        208
      ],
      "id": "dbd6e17a-55cc-488d-a292-824ce7a8b86f",
      "name": "Extraer productos",
      "retryOnFail": true,
      "notes": "Extrae todos los productos del texto al esquema de POST /productos. Salida: { output: { productos: [ ... ] } }."
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.productos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        208
      ],
      "id": "420904fe-c9ae-4f46-92bf-562c90c43ed7",
      "name": "Separar productos",
      "notes": "Divide el arreglo output.productos en un item por producto (transformación, no es un nodo de bucle). El nodo HTTP siguiente se ejecuta una vez por item de forma nativa."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        432
      ],
      "id": "4077e902-3ade-4683-afb8-41b93a454da4",
      "name": "Modelo de lenguaje",
      "credentials": {
        "openAiApi": {
          "id": "5qdKwEbacAyy64JO",
          "name": "OpenAI account"
        }
      },
      "notes": "Crea/selecciona una credencial 'OpenAI API'. El secreto NO se guarda en este JSON."
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Información enviada con éxito",
        "completionMessage": "Los productos han sido añadidos correctamente a la base de datos.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        832,
        16
      ],
      "id": "eb9a0c69-dec5-47b1-a3bf-4035eb4cdb30",
      "name": "Pantalla de éxito",
      "webhookId": "347b46da-099f-412c-8ac1-04b17ef5ff1d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        208
      ],
      "id": "7ed94caa-ec07-4d0a-8b51-c4504d81a00b",
      "name": "Enviar productos uno por uno"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        208
      ],
      "id": "843c26dc-d129-4ab6-bd53-be01f2c2bdf5",
      "name": "Esperar medio segundo",
      "webhookId": "3169054a-3d74-4b80-9f36-c446e8d30ec9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-test-motomex.paosofiam.com/productos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        288
      ],
      "id": "4bac277b-fc69-49c0-8107-b9c1bdafe16d",
      "name": "Crear Producto"
    }
  ],
  "pinData": {},
  "connections": {
    "Al recibir documento": {
      "main": [
        [
          {
            "node": "Extraer productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer productos": {
      "main": [
        [
          {
            "node": "Separar productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar productos": {
      "main": [
        [
          {
            "node": "Enviar productos uno por uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de lenguaje": {
      "ai_languageModel": [
        [
          {
            "node": "Extraer productos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enviar productos uno por uno": {
      "main": [
        [
          {
            "node": "Pantalla de éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar medio segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar medio segundo": {
      "main": [
        [
          {
            "node": "Crear Producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Producto": {
      "main": [
        [
          {
            "node": "Enviar productos uno por uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ce0a1f25-7d20-47f2-8a34-9bf5dc3e2d6a",
  "meta": {
    "instanceId": "58b2e22eda324b1eaa9c8f8d7e8f4202f314c7175e1322e379fc803adb96312e"
  },
  "id": "OTsNn6qMwO3oqjNP",
  "tags": []
}