n8n-workflows/Gestion de sesion de chat.json
{
  "name": "Gestion de sesion de chat",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api-test-motomex.paosofiam.com/leads?chat_whatsapp_id={{ $('Start').item.json.message_chat_id }}",
        "options": {}
      },
      "id": "c325f111-96bb-40ba-a41e-df545000fa22",
      "name": "Obtener Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        448
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api-test-motomex.paosofiam.com/chats?chat_whatsapp_id={{ $('Start').item.json.message_chat_id }}",
        "options": {}
      },
      "id": "80635c6a-b2bc-4220-a5d6-368ed06adf66",
      "name": "Obtener chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        384
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "136471b5-82f2-4677-82d1-043c083bd08f",
              "leftValue": "={{ $json.id }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        384
      ],
      "id": "7311e0e2-ad2f-4afc-895f-063359b4f784",
      "name": "Si el chat existe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fcb95918-6d84-4d2b-bf96-e1bf86e5290c",
              "leftValue": "={{ Array.isArray($('Obtener Lead').item.json) && $('Obtener Lead').item.json.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        448
      ],
      "id": "12db94f1-f606-46b2-b47b-6cb245f744cc",
      "name": "Si el lead existe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-test-motomex.paosofiam.com/chats",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"lead_id\": {{ $('Obtener Lead').item.json[0] ? $('Obtener Lead').item.json[0].id : $('Crear lead').item.json.id }}, \"chat_whatsapp_id\": \"{{ $('Start').item.json.message_chat_id }}\", \"chat_status_id\": 1, \"resumen\": \"Conversacion iniciada desde Telegram\" }",
        "options": {}
      },
      "id": "85d4fb10-9462-4838-b92b-3a50340978af",
      "name": "Crear chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        448
      ],
      "notes": "lead_id dinamico: si 'Obtener Lead' devolvio el lead (array no vacio) usa su id; si no, usa el id de 'Crear lead'. chat_status_id=1 (activo)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-test-motomex.paosofiam.com/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"chat_whatsapp_id\": \"{{ $('Start').item.json.message_chat_id }}\", \"nombre_whatsapp\": \"{{ $('Start').item.json.message_from_first_name }}\", \"telefono\": \"+520000000000\", \"intencion_de_compra_id\": 1, \"nombre\": null, \"ciudad\": null, \"productos_interes\": [], \"vehiculo\": [], \"direccion_envio\": null }",
        "options": {}
      },
      "id": "faea8886-ba54-4d81-a275-291107d32fb7",
      "name": "Crear lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        528
      ],
      "notes": "telefono es OBLIGATORIO (patron +<digitos>, max 14). Placeholder +520000000000: reemplazalo por el real. ciudad es find-or-fail: si la envias, debe existir en el catalogo."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1472,
        608
      ],
      "id": "19438f53-2b42-4388-a84e-2adf57f398f8",
      "name": "Modelo de lenguaje",
      "credentials": {
        "openAiApi": {
          "id": "5qdKwEbacAyy64JO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Historial de la conversación:\n{{ $('Obtener Historial de Chat').item.json.messagesCount ? $('Obtener Historial de Chat').item.json.messages.map(m => `${m.role}: ${m.content}`).join('\\n') : \"No hay mensajes previos, el mensaje recibido es el primero\" }}\n\nMensaje actual del usuario:\n{{ $('Start').item.json.message_text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"requiere_respuesta\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si el mensaje actual es legible, una oración coherente o más, y puede obtenerse información de este como preguntas, afirmaciones, saludos y/o despedidas, etc. False si el mensaje es una muletilla o un mensaje ilegible del estilo 'mmm', '...', 'asdf', '#_',\"\n    },\n  \"tiene_preguntas\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si el mensaje actual contiene una pregunta directa o implícita sobre productos, precios, marcas, envíos o cualquier otro tema relacionado con la venta de refacciones y autopartes.\"\n    },\n  \"pausa_conversacion\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si: (a) el usuario pide explícitamente pausar o esperar (p. ej. 'dame 5 minutos', 'ahora vuelvo', 'voy y vuelvo'), AUNQUE el mensaje sea legible; o (b) el mensaje es una muletilla o ilegible como 'mmm', '...', 'asdf'. False en cualquier otro caso: cuando es un mensaje normal que debe responderse (saludo, pregunta o afirmación) y no es ni una pausa explícita ni una muletilla. Nota: un mensaje legible que pide pausa SÍ es true (no lo trates como false por ser legible).\"\n    },\n  \"confirma_compra\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si según el historial de la conversación, en el último mensae previo, se le había solicitado confirmar el registro de su orden de compra, y se le había informado el precio final e items de su orden, y el usuario confirmó o afirmó en el mensaje actual.\"\n    },\n  \"fin_de_conversacion\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si el usuario utiliza palabras de despedida explícitas al final o en cualquier parte del mensaje actual, se implica que es el último mensaje de la conversación o el usuario trata de escribir alguna clase de comando de terminal para finalizar la conversación o algo por el estilo. También true si ya se confirmó y registró orden de compra y no hay más acciones pendientes por realizar o revisar según el historial de la conversación.\"\n    },\n  \"requiere_soporte\": {\n      \"type\": \"boolean\",\n      \"description\": \"True ÚNICAMENTE si: (a) el usuario solicita explícitamente en el mensaje actual hablar con un humano, asesor o ejecutivo, o (b) hay un problema técnico o error del sistema que impide responder al usuario. NO lo marques true solo porque una compra se haya confirmado o registrado (ese caso lo maneja 'confirma_compra'). Es independiente de 'fin_de_conversacion'.\"\n    },\n  \"cambio_en_intencion\": {      \"type\": \"boolean\",\n      \"description\": \"True si se detecta en el mensaje actual, que hay un cambio tangible en la intención de comrpa del cliente con respecto a los últimos mensajes previos en el historial de la conversación, ya sea que este aumente o disminuya por igual. false si la intención de compra es esencialmente igual que en los últimos mensajes del historial.\"\n  },\n  \"intencion_de_compra\": {\n    \"type\": \"int\",\n    \"description\": \"Califica la intención de compra del cliente o su interés en los productos o servicios ofrecidos por la marca, o dicho de otra forma, su probabilidad de compra, en una escala del 1 al 3 donde 1 es una intención o probabilidad de compra baja, 2 es una intención de compra media o moderada, y 3 es una, alta o muy alta intención o probabilidad de compra. 1 Si el cliente solo saluda o escribe cualquier mensaje sin preguntas en el mensaje actual. 2 Si el cliente hace preguntas vagas sobre el producto o expresa directa o implícitamente una urgencia baja o nula por comprar. 3 Si el cliente muestra un claro y gran interés en sus productos o expresa directa o implícitamente urgencia por adquirir un producto o ya ha hecho muchas preguntas, más de alrededor de 7, o ha enviado muchos mensajes, más de alrededor de 15.\"\n  } \n  },\n  \"required\": [\n  \"requiere_respuesta\",\n  \"tiene_preguntas\",\n  \"pausa_conversacion\",\n  \"confirma_compra\",\n  \"fin_de_conversacion\",\n  \"requiere_soporte\",\n  \"cambio_en_intencion\",\n  \"intencion_de_compra\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1472,
        384
      ],
      "id": "2eb2c9ef-f21f-4b5b-8185-25af40420db1",
      "name": "Identificar Acciones",
      "retryOnFail": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"metadata_chat\": {\n    \"chat_id\": {{ $('Obtener chat').item.json.id ? $('Obtener chat').item.json.id : $('Crear chat').item.json.id }},\n    \"lead_id\": {{ $('Obtener chat').item.json.lead_id ? $('Obtener chat').item.json.lead_id : ($('Obtener Lead').item.json[0] ? $('Obtener Lead').item.json[0].id : $('Crear lead').item.json.id) }},\n    \"intencion_de_compra\": {{ $('Identificar Acciones').item.json.output.intencion_de_compra }},\n    \"chat_status\": {{ $('Obtener chat').item.json.status ? JSON.stringify($('Obtener chat').item.json.status) : JSON.stringify(\"activo\") }}\n  },\n  \"acciones_requeridas\": {\n    \"requiere_respuesta\": {{ $('Identificar Acciones').item.json.output.requiere_respuesta }},\n    \"tiene_preguntas\": {{ $('Identificar Acciones').item.json.output.tiene_preguntas }},\n    \"pausa_conversacion\": {{ $('Identificar Acciones').item.json.output.pausa_conversacion }},\n    \"confirma_compra\": {{ $('Identificar Acciones').item.json.output.confirma_compra }},\n    \"fin_de_conversacion\": {{ $('Identificar Acciones').item.json.output.fin_de_conversacion }},\n    \"requiere_soporte\": {{ $('Identificar Acciones').item.json.output.requiere_soporte }},\n    \"cambio_en_intencion\": {{ $('Identificar Acciones').item.json.output.cambio_en_intencion }}\n  },\n  \"contenido_chat\": {\n    \"mensaje\": {{ JSON.stringify($('Start').item.json.message_text) }},\n    \"contexto_previo\": {{ $('Obtener Historial de Chat').item.json.messagesCount > 0 ? JSON.stringify($('Obtener Historial de Chat').item.json.messages.map(m => `${m.role}: ${m.content}`).join('\\n')) : JSON.stringify(\"No hay mensajes previos, el mensaje recibido es el primero\") }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        384
      ],
      "id": "0a48cb5b-ede1-4058-860f-461b1912aa60",
      "name": "Definir informacion necesaria"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1120,
        384
      ],
      "id": "8e60d4ca-4a9c-4600-920d-f9e7dd810ff1",
      "name": "Obtener Historial de Chat"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Obtener chat').item.json.id ? $('Obtener chat').item.json.id : $('Crear chat').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1120,
        592
      ],
      "id": "9a24afc7-b428-43c4-b876-1ba0d10ead67",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b41115b-e4b7-4c80-a5c5-c15c6b99bb9e",
              "name": "contenido_chat_contexto_previo",
              "value": "={{ $('Definir informacion necesaria').item.json.contenido_chat.contexto_previo }}",
              "type": "string"
            },
            {
              "id": "c42c9e87-9d7d-483c-8680-35fdc5b7915a",
              "name": "contenido_chat_mensaje",
              "value": "={{ $('Definir informacion necesaria').item.json.contenido_chat.mensaje }}",
              "type": "string"
            },
            {
              "id": "202267cc-ec36-4445-ace6-051d3cee07a0",
              "name": "metadata_chat_chat_id",
              "value": "={{ $('Definir informacion necesaria').item.json.metadata_chat.chat_id }}",
              "type": "string"
            },
            {
              "id": "3fef65c6-45c5-4565-9b69-bc06479515dd",
              "name": "output_fin_de_conversacion",
              "value": "={{ $('Identificar Acciones').item.json.output.fin_de_conversacion }}",
              "type": "boolean"
            },
            {
              "id": "26b4c62f-7a4d-4ab8-bb30-d99fafa1aea1",
              "name": "output_confirma_compra",
              "value": "={{ $('Identificar Acciones').item.json.output.confirma_compra }}",
              "type": "boolean"
            },
            {
              "id": "b1231bd9-8f44-434b-9bd2-d43b4854163e",
              "name": "output_requiere_soporte",
              "value": "={{ $('Identificar Acciones').item.json.output.requiere_soporte }}",
              "type": "boolean"
            },
            {
              "id": "c11a7243-b75e-4eb2-81a0-64746a8b87eb",
              "name": "metadata_chat_lead_id",
              "value": "={{ $('Definir informacion necesaria').item.json.metadata_chat.lead_id }}",
              "type": "string"
            },
            {
              "id": "5dcfde09-20a5-4686-8242-6e99f39b63c9",
              "name": "output_intencion_de_compra",
              "value": "={{ $('Identificar Acciones').item.json.output.intencion_de_compra }}",
              "type": "number"
            },
            {
              "id": "e12d1eef-28d3-4a03-9443-027d5614dbcc",
              "name": "output_cambio_en_intencion",
              "value": "={{ $('Identificar Acciones').item.json.output.cambio_en_intencion }}",
              "type": "boolean"
            },
            {
              "id": "10bcc8d4-d719-466f-a124-9faa33cd87fb",
              "name": "output_tiene_preguntas",
              "value": "={{ $('Identificar Acciones').item.json.output.tiene_preguntas }}",
              "type": "boolean"
            },
            {
              "id": "4811f5a5-9b23-4874-91f1-3082c0b04766",
              "name": "metadata_chat_chat_status",
              "value": "={{ $('Definir informacion necesaria').item.json.metadata_chat.chat_status }}",
              "type": "string"
            },
            {
              "id": "cb32ef58-b726-44fe-9285-36990fb8e6eb",
              "name": "acciones_requeridas_requiere_respuesta",
              "value": "={{ $('Definir informacion necesaria').item.json.acciones_requeridas.requiere_respuesta }}",
              "type": "boolean"
            },
            {
              "id": "63e5790a-9e17-4f4e-80b7-c85323d84c03",
              "name": "acciones_requeridas_pausa_conversacion",
              "value": "={{ $('Definir informacion necesaria').item.json.acciones_requeridas.pausa_conversacion }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        384
      ],
      "id": "bc6589ce-18e8-49f4-8d9a-6ac58205b815",
      "name": "Return"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_chat_id",
              "type": "any"
            },
            {
              "name": "message_from_first_name",
              "type": "any"
            },
            {
              "name": "message_text",
              "type": "any"
            }
          ]
        }
      },
      "id": "886577de-6232-46ef-9bb2-d042de840fb1",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -432,
        384
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Obtener Lead": {
      "main": [
        [
          {
            "node": "Si el lead existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener chat": {
      "main": [
        [
          {
            "node": "Si el chat existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si el chat existe": {
      "main": [
        [
          {
            "node": "Obtener Historial de Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si el lead existe": {
      "main": [
        [
          {
            "node": "Crear chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear chat": {
      "main": [
        [
          {
            "node": "Obtener Historial de Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear lead": {
      "main": [
        [
          {
            "node": "Crear chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de lenguaje": {
      "ai_languageModel": [
        [
          {
            "node": "Identificar Acciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Acciones": {
      "main": [
        [
          {
            "node": "Definir informacion necesaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial de Chat": {
      "main": [
        [
          {
            "node": "Identificar Acciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Obtener Historial de Chat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Obtener chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir informacion necesaria": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "481dfdb9-ee18-4023-ae8f-638371b2f447",
  "meta": {
    "instanceId": "58b2e22eda324b1eaa9c8f8d7e8f4202f314c7175e1322e379fc803adb96312e"
  },
  "id": "hW7JG8ge4CbSHwjg",
  "tags": []
}