n8n-workflows/Gestion de sesion de chat.json
{
  "name": "Gestion de sesion de chat",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message_chat_id",
              "type": "any"
            },
            {
              "name": "message_from_first_name",
              "type": "any"
            },
            {
              "name": "message_text",
              "type": "any"
            }
          ]
        }
      },
      "id": "886577de-6232-46ef-9bb2-d042de840fb1",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -432,
        384
      ]
    },
    {
      "parameters": {
        "url": "=https://api-test-motomex.paosofiam.com/leads?chat_whatsapp_id={{ $('Start').item.json.message_chat_id }}",
        "options": {}
      },
      "id": "529d45b5-64c1-4fd0-8a5c-453b6c7df180",
      "name": "Obtener Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        464
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "136471b5-82f2-4677-82d1-043c083bd08f",
              "leftValue": "={{ $json.id }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        384
      ],
      "id": "8f9e492d-0d3d-4963-8930-e273c6e21348",
      "name": "Si el chat existe",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fcb95918-6d84-4d2b-bf96-e1bf86e5290c",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "64495030-e12d-4a1d-a30c-c45fe3c9f217",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        464
      ],
      "id": "5d4aa2ce-4374-4320-9cf9-22237bbb1e7c",
      "name": "Si el lead existe",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-test-motomex.paosofiam.com/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"chat_whatsapp_id\": \"{{ $('Start').item.json.message_chat_id }}\", \"nombre_whatsapp\": \"{{ $('Start').item.json.message_from_first_name }}\", \"telefono\": \"+520000000000\", \"intencion_de_compra_id\": 1, \"nombre\": null, \"ciudad\": null, \"productos_interes\": [], \"vehiculo\": [], \"direccion_envio\": null }",
        "options": {}
      },
      "id": "42bea151-11bd-47e0-ba89-9e47859565a4",
      "name": "Crear lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        528
      ],
      "executeOnce": true,
      "notes": "telefono es OBLIGATORIO (patron +<digitos>, max 14). Placeholder +520000000000: reemplazalo por el real. ciudad es find-or-fail: si la envias, debe existir en el catalogo."
    },
    {
      "parameters": {
        "text": "=Historial de la conversación:\n{{ { \"historial\": $('Obtener Historial de Chat').item.json.messagesCount ? $('Obtener Historial de Chat').item.json.messages.map(m => `${Object.keys(m)[0]}: ${Object.values(m)[0]}`).join('\\n') : \"No hay mensajes previos, el mensaje recibido es el primero\" } }}\n\nMensaje actual del usuario:\n{{ $('Start').item.json.message_text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"requiere_respuesta\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si el mensaje actual es legible, una oración coherente o más, y puede obtenerse información de este como preguntas, afirmaciones, saludos y/o despedidas, etc. False si el mensaje es una muletilla o un mensaje ilegible del estilo 'mmm', '...', 'asdf', '#_', etc. Todo mensaje coherente requiere respuesta, así sea para aclarar a qué se refería el usuario con ese mensaje\"\n    },\n  \"tiene_preguntas\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si el mensaje actual contiene una pregunta directa o implícita sobre productos, precios, marcas, envíos o cualquier otro tema relacionado con la venta de refacciones y autopartes.\"\n    },\n  \"pausa_conversacion\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si: (a) el usuario pide explícitamente pausar o esperar (p. ej. 'dame 5 minutos', 'ahora vuelvo', 'voy y vuelvo'), AUNQUE el mensaje sea legible; o (b) el mensaje es una muletilla o ilegible como 'mmm', '...', 'asdf'. False en cualquier otro caso: cuando es un mensaje normal que debe responderse (saludo, pregunta o afirmación) y no es ni una pausa explícita ni una muletilla. Nota: un mensaje legible que pide pausa SÍ es true (no lo trates como false por ser legible).\"\n    },\n  \"confirma_compra\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si según el historial de la conversación, en el último mensae previo, se le había solicitado confirmar el registro de su orden de compra, y se le había informado el precio final e items de su orden, y el usuario confirmó o afirmó en el mensaje actual.\"\n    },\n  \"fin_de_conversacion\": {\n      \"type\": \"boolean\",\n      \"description\": \"True si el usuario utiliza palabras de despedida explícitas al final o en cualquier parte del mensaje actual, se implica que es el último mensaje de la conversación o el usuario trata de escribir alguna clase de comando de terminal para finalizar la conversación o algo por el estilo. También true si ya se confirmó y registró orden de compra y no hay más acciones pendientes por realizar o revisar según el historial de la conversación.\"\n    },\n  \"requiere_soporte\": {\n      \"type\": \"boolean\",\n      \"description\": \"True el usuario solicita explícitamente en el mensaje actual hablar con un humano, asesor o ejecutivo, o hay un problema técnico o error del sistema que impide responder al usuario. False si una compra se ha confirmado o registrado (ese caso lo maneja 'confirma_compra'). Es independiente de 'fin_de_conversacion'.\"\n    },\n  \"cambio_en_intencion\": {      \"type\": \"boolean\",\n      \"description\": \"True si se detecta en el mensaje actual, que hay un cambio tangible en la intención de comrpa del cliente con respecto a los últimos mensajes previos en el historial de la conversación, ya sea que este aumente o disminuya por igual. false si la intención de compra es esencialmente igual que en los últimos mensajes del historial. También true si el cliente envía su dirección de envío, ciudad o estado, y si confirma el registro de su pre-orden de compra, ya que esto representaría un cambio de intención de compra, por ejemplo, de alta, a completa\"\n  },\n  \"intencion_de_compra\": {\n    \"type\": \"int\",\n    \"description\": \"Califica la intención de compra del cliente o su interés en los productos o servicios ofrecidos por la marca, o dicho de otra forma, su probabilidad de compra, en una escala del 1 al 3 donde 1 es una intención o probabilidad de compra baja, 2 es una intención de compra media o moderada, y 3 es una, alta o muy alta intención o probabilidad de compra. 1 Si el cliente solo saluda o escribe cualquier mensaje sin preguntas en el mensaje actual. 2 Si el cliente hace preguntas vagas sobre el producto o expresa directa o implícitamente una urgencia baja o nula por comprar. 3 Si el cliente muestra un claro y gran interés en sus productos o expresa directa o implícitamente urgencia por adquirir un producto o ya ha hecho muchas preguntas, más de alrededor de 7, o ha enviado muchos mensajes, más de alrededor de 15. Si el cliente confirma que desea registrar su pre-orden de compra, su intención de compra es 4, que representa 'completa', o dicho de otra forma, ha completado su compra.Este campo no puede ir vacío ni ser null bajo ningún motivo, debe ser un número entero del 1 al 4 según corresponda\"\n  } \n  },\n  \"required\": [\n  \"requiere_respuesta\",\n  \"tiene_preguntas\",\n  \"pausa_conversacion\",\n  \"confirma_compra\",\n  \"fin_de_conversacion\",\n  \"requiere_soporte\",\n  \"cambio_en_intencion\",\n  \"intencion_de_compra\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1488,
        384
      ],
      "id": "260e2286-e5b3-432c-bd01-c4c077a34767",
      "name": "Identificar Acciones",
      "retryOnFail": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"metadata_chat\": {\n    \"chat_id\": {{ $('Obtener Chat').item.json.id ? $('Obtener Chat').item.json.id : $('Crear chat').item.json.id }},\n    \"lead_id\": {{ $('Obtener Chat').item.json.lead_id ? $('Obtener Chat').item.json.lead_id : ($('Obtener Lead').item.json[0] ? $('Obtener Lead').item.json[0].id : $('Crear lead').item.json.id) }},\n    \"intencion_de_compra\": {{ $('Identificar Acciones').item.json.output.intencion_de_compra }},\n    \"chat_status\": {{ $('Obtener Chat').item.json.status ? JSON.stringify($('Obtener Chat').item.json.status) : JSON.stringify(\"activo\") }}\n  },\n  \"acciones_requeridas\": {\n    \"requiere_respuesta\": {{ $('Identificar Acciones').item.json.output.requiere_respuesta }},\n    \"tiene_preguntas\": {{ $('Identificar Acciones').item.json.output.tiene_preguntas }},\n    \"pausa_conversacion\": {{ $('Identificar Acciones').item.json.output.pausa_conversacion }},\n    \"confirma_compra\": {{ $('Identificar Acciones').item.json.output.confirma_compra }},\n    \"fin_de_conversacion\": {{ $('Identificar Acciones').item.json.output.fin_de_conversacion }},\n    \"requiere_soporte\": {{ $('Identificar Acciones').item.json.output.requiere_soporte }},\n    \"cambio_en_intencion\": {{ $('Identificar Acciones').item.json.output.cambio_en_intencion }}\n  },\n  \"contenido_chat\": {\n    \"mensaje\": {{ JSON.stringify($('Start').item.json.message_text) }},\n    \"contexto_previo\": {{ { \"historial\": $('Obtener Historial de Chat').item.json.messagesCount ? $('Obtener Historial de Chat').item.json.messages.map(m => `${Object.keys(m)[0]}: ${Object.values(m)[0]}`).join('\\n') : \"No hay mensajes previos, el mensaje recibido es el primero\" } }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        384
      ],
      "id": "b6597e27-46f6-4425-98a8-809507d51f5c",
      "name": "Definir informacion necesaria"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1136,
        384
      ],
      "id": "84c49e89-a03d-4057-9212-8b3de89f02b4",
      "name": "Obtener Historial de Chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b41115b-e4b7-4c80-a5c5-c15c6b99bb9e",
              "name": "contenido_chat_contexto_previo",
              "value": "={{ $('Definir informacion necesaria').item.json.contenido_chat.contexto_previo }}",
              "type": "string"
            },
            {
              "id": "c42c9e87-9d7d-483c-8680-35fdc5b7915a",
              "name": "contenido_chat_mensaje",
              "value": "={{ $('Definir informacion necesaria').item.json.contenido_chat.mensaje }}",
              "type": "string"
            },
            {
              "id": "202267cc-ec36-4445-ace6-051d3cee07a0",
              "name": "metadata_chat_chat_id",
              "value": "={{ $('Definir informacion necesaria').item.json.metadata_chat.chat_id }}",
              "type": "string"
            },
            {
              "id": "3fef65c6-45c5-4565-9b69-bc06479515dd",
              "name": "output_fin_de_conversacion",
              "value": "={{ $('Identificar Acciones').item.json.output.fin_de_conversacion }}",
              "type": "boolean"
            },
            {
              "id": "26b4c62f-7a4d-4ab8-bb30-d99fafa1aea1",
              "name": "output_confirma_compra",
              "value": "={{ $('Identificar Acciones').item.json.output.confirma_compra }}",
              "type": "boolean"
            },
            {
              "id": "b1231bd9-8f44-434b-9bd2-d43b4854163e",
              "name": "output_requiere_soporte",
              "value": "={{ $('Identificar Acciones').item.json.output.requiere_soporte }}",
              "type": "boolean"
            },
            {
              "id": "c11a7243-b75e-4eb2-81a0-64746a8b87eb",
              "name": "metadata_chat_lead_id",
              "value": "={{ $('Definir informacion necesaria').item.json.metadata_chat.lead_id }}",
              "type": "string"
            },
            {
              "id": "5dcfde09-20a5-4686-8242-6e99f39b63c9",
              "name": "output_intencion_de_compra",
              "value": "={{ $('Identificar Acciones').item.json.output.intencion_de_compra }}",
              "type": "number"
            },
            {
              "id": "e12d1eef-28d3-4a03-9443-027d5614dbcc",
              "name": "output_cambio_en_intencion",
              "value": "={{ $('Identificar Acciones').item.json.output.cambio_en_intencion }}",
              "type": "boolean"
            },
            {
              "id": "10bcc8d4-d719-466f-a124-9faa33cd87fb",
              "name": "output_tiene_preguntas",
              "value": "={{ $('Identificar Acciones').item.json.output.tiene_preguntas }}",
              "type": "boolean"
            },
            {
              "id": "4811f5a5-9b23-4874-91f1-3082c0b04766",
              "name": "metadata_chat_chat_status",
              "value": "={{ $('Definir informacion necesaria').item.json.metadata_chat.chat_status }}",
              "type": "string"
            },
            {
              "id": "cb32ef58-b726-44fe-9285-36990fb8e6eb",
              "name": "acciones_requeridas_requiere_respuesta",
              "value": "={{ $('Definir informacion necesaria').item.json.acciones_requeridas.requiere_respuesta }}",
              "type": "boolean"
            },
            {
              "id": "63e5790a-9e17-4f4e-80b7-c85323d84c03",
              "name": "acciones_requeridas_pausa_conversacion",
              "value": "={{ $('Definir informacion necesaria').item.json.acciones_requeridas.pausa_conversacion }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        384
      ],
      "id": "77410819-79f5-4368-9245-411132341aca",
      "name": "Return"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Obtener Chat').item.json.id ? $('Obtener Chat').item.json.id : $('Crear chat').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [
        1216,
        608
      ],
      "id": "4d4715e4-cad8-41e7-8e63-f35264fa3d14",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "t5k2QRkhodQmtVLZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1488,
        624
      ],
      "id": "6d65e1cb-4915-4e9d-8970-c925b8e167eb",
      "name": "Crear Chat",
      "credentials": {
        "googlePalmApi": {
          "id": "oXElMeDdDQ7uWmaK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api-test-motomex.paosofiam.com/chats?chat_whatsapp_id={{ $('Start').item.json.message_chat_id }}",
        "options": {}
      },
      "id": "04445178-d4d4-472d-b115-7f41897b048a",
      "name": "Obtener Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        384
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-test-motomex.paosofiam.com/chats",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"lead_id\": {{ $('Obtener Lead').item.json[0] ? $('Obtener Lead').item.json[0].id : $json.id }}, \"chat_whatsapp_id\": \"{{ $('Start').item.json.message_chat_id }}\", \"chat_status_id\": 1, \"resumen\": \"Conversacion iniciada desde Telegram\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        464
      ],
      "id": "dbe622a3-9312-47bd-89aa-6d46b71904e9",
      "name": "Crear chat",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Obtener Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Lead": {
      "main": [
        [
          {
            "node": "Si el lead existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si el chat existe": {
      "main": [
        [
          {
            "node": "Obtener Historial de Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si el lead existe": {
      "main": [
        [
          {
            "node": "Crear chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear lead": {
      "main": [
        [
          {
            "node": "Crear chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Acciones": {
      "main": [
        [
          {
            "node": "Definir informacion necesaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial de Chat": {
      "main": [
        [
          {
            "node": "Identificar Acciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir informacion necesaria": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Obtener Historial de Chat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Crear Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Identificar Acciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Chat": {
      "main": [
        [
          {
            "node": "Si el chat existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear chat": {
      "main": [
        [
          {
            "node": "Obtener Historial de Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ddcc188f-536d-4abd-81c8-7014cadb30eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58b2e22eda324b1eaa9c8f8d7e8f4202f314c7175e1322e379fc803adb96312e"
  },
  "id": "hW7JG8ge4CbSHwjg",
  "tags": []
}