n8n-workflows/Workflow de error.json
{
  "name": "Workflow de error",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ff1702dd-8ac7-4a63-9572-59bf62ec0473",
      "name": "Error Trigger",
      "notes": "Se dispara cuando un workflow que tenga configurado este como 'Error Workflow' falla. Expone $json.execution (id, url, error, lastNodeExecuted) y $json.workflow (id, name)."
    },
    {
      "parameters": {
        "toRecipients": "admin@ejemplo.com",
        "subject": "=⚠️ Error en workflow n8n: {{ $json.workflow.name }}",
        "bodyContent": "=Se detuvo una ejecución por error.\n\nWorkflow: {{ $json.workflow.name }} (id {{ $json.workflow.id }})\nEjecución: {{ $json.execution.id }}\nNodo que falló: {{ $json.execution.lastNodeExecuted }}\nError: {{ $json.execution.error?.message }}\n\nRevisar la ejecución: {{ $json.execution.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "6a85d835-fcd9-455e-8d50-6a91e6a8ae8d",
      "name": "Notificar admin por correo",
      "webhookId": "0fe64951-5c4b-4198-94d9-5c9c654f75de",
      "notes": "Requiere crear y seleccionar una credencial 'Microsoft Outlook OAuth2 API'. Reemplaza 'admin@ejemplo.com' por el correo real del administrador. El secreto NO se guarda en este JSON."
    },
    {
      "parameters": {
        "chatId": "REEMPLAZAR_CHAT_ID_ADMIN",
        "text": "=⚠️ Error en workflow n8n\nWorkflow: {{ $json.workflow.name }}\nEjecución: {{ $json.execution.id }}\nNodo: {{ $json.execution.lastNodeExecuted }}\nError: {{ $json.execution.error?.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "f69c6ede-77ee-45ff-b701-fa22cba08aa6",
      "name": "Notificar admin por Telegram",
      "webhookId": "7631dadb-5b62-41d2-8057-c2a0bdbadc92",
      "credentials": {
        "telegramApi": {
          "id": "GZrIs6x70JFA8W8K",
          "name": "Telegram account"
        }
      },
      "notes": "Reemplaza 'REEMPLAZAR_CHAT_ID_ADMIN' por el chat id de Telegram del administrador. Usa la misma credencial 'Telegram API' del bot."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api-test-motomex.paosofiam.com/chats/{{ $json.chat_id_afectado }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"chat_status_id\": 2, \"resumen\": \"Detenido por error del sistema; requiere revisión humana\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "79c74fa8-3d3e-4518-8edd-033c8be6ac84",
      "name": "Marcar chat en revisión humana",
      "notes": "Deja el chat afectado en chat_status_id=2 (en revisión), segun catalogo chat_statuses. LIMITACION: el Error Trigger NO expone de forma fiable el chat_id de la ejecucion fallida; debes proveerlo. Ajusta la URL para tomar el chat_id real (p. ej. propagandolo via static data del workflow de chatbot o parseandolo del contexto del error). Si no hay chat_id disponible, deshabilita este nodo."
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notificar admin por correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar admin por correo": {
      "main": [
        [
          {
            "node": "Notificar admin por Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar admin por Telegram": {
      "main": [
        [
          {
            "node": "Marcar chat en revisión humana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "50a56e2d-45d5-47c7-b644-17446b40f9ef",
  "meta": {
    "instanceId": "58b2e22eda324b1eaa9c8f8d7e8f4202f314c7175e1322e379fc803adb96312e"
  },
  "id": "kmavDLReeagfurIu",
  "tags": []
}